/* * { border: 1px solid red; } */

html {
  position: relative;
  height: auto;
  min-height: 100% !important;
  scroll-behavior: smooth;

}


body {
  position: relative;
  height: auto;
  min-height: 100% !important;
  
}

*{font-family: 'Roboto Slab';}


colors {
  /* Primary Colors (buttons, headlines, icons) */
  color: #FC6230;
  color: #3D9EC8;
  color: #8ac4dd;
  color: #29648A;
  color: #232343;
  /* Secondary Colors (secondaries, subheadings, supporting content) */
  color: #E7E7E7;
  color: #9F9F9F;
  /* Neutral Colors (Backgrounds and text)*/
  background-color: #151528;

}


.wrapper {
  /*background-color: #25274D;*/
  background-color: #151528;
  position: relative;
  height: 3700px;
  min-height: 100% !important;


}


.btn-font {
  font-size: 15px;
  color: #9F9F9F;

}

.btn {
  padding: 0 50px;
}


.title {
  font-size: 70px;
  color: #E7E7E7;
}

.subtitle {
  font-size: 50px;
  line-height: 80px;
  color: #9F9F9F;
}

.heading-font {
  font-size: 30px;
  color: #E7E7E7;
}

.paragraphs {
  font-size: 20px;
  color: #E7E7E7;
}

.card-font {
  font-size: 15px;
  color: #E7E7E7;
}
.card-color {

  background-color: #232343;
}


.tab-font {
  font-size:15px;
  color:rgb(110, 97, 97);
}

.list {
  list-style-type: square;
  color: #FC6230;
}


.container {
  /*background-color: #464866;*/
  width: 100%;
  height: 100vh;

}


.vertical-center {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.experience-center {
  margin-top: 10%;
}

.horizontal-center {
  margin: auto;
}



.section-container {
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);


  width: 100%;
  height: 95%;
  /* border: 1px solid #3D9EC8; */

}

.project-container {
  margin: auto;
  position: relative;
  transform: translateY(20%);
  width: 90%;
  height: auto;
}

.section-head {
  margin:auto;
  position: relative;

  transform: translateY(-50%);
  margin-top: 5%;
  top: 50%;


  width: 80%;
  height: 90%;
  /* border: 1px solid aqua; */
}
*:focus {
  outline: 0 !important;
  color: #FC6230;
}
.tab {
  float: right;
  
  background:none;
  outline: none;
}

.tab button {
  display: block;
  background: none;
  padding: 10px;
  margin: 5px;
  margin-left: -20%;
  width: 230px;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}


.center-container {
  height: 50%;
  margin-top: 10%;
  width: 80%;
  /* border: 1px solid #3D9EC8; */
}


.profile-pic {
  border-radius: 50%;
  width:300px;
  height:300px;

  display: flex;
  align-items: center;
  margin-right: 20%;
  margin-top: 10%;
}

.footer-container {
  width: 100%;
  position: absolute;
  bottom: 0%;
  background-color: #232343;
  /* border: 1px solid #3D9EC8; */
}



.designed {
  position: relative;
  margin-top: 4%;
  font-size: 10px;
  color: #9F9F9F;
}


.fa-4x {
  color: #FC6230;
}

.fa-2x {
  color:#FC6230;
}

.back2Top {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #fc633098; /* Set a background color */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
}

.back2Top:hover {
  transition: 0.3s;
  background-color: #ff8138;
}


.list-horizontal li {
  display:inline-block;
  padding: 0 25px;
}
.list-horizontal li:before {
	content: '\00a0\2022\00a0\00a0';
	color:#FC6230;
	font-size:15px;
}



@media screen and (max-width: 1000px) {
  .wrapper {
    height: 3500px;
  }

  .profile-pic {
    border-radius: 50%;
    width:200px;
    height:200px;

    margin: auto;
  }
}


/* adjusts font size for smaller screens */
@media screen and (max-width: 850px) {
  .wrapper {
    height: 3500px;
  }
  .title {
    font-size: 40px;
    color: #E7E7E7;
  }

  .subtitle {
    font-size: 25px;
    line-height: 40px;
    color: #9F9F9F;
  }

  .heading-font {
    font-size: 22px;
    color: #E7E7E7;
  }

  .paragraphs {
    font-size: 15px;
    color: #9F9F9F;
  }

  .tab-font {
    font-size:15px;
    color:rgb(110, 97, 97)
  }

}
@media screen and (max-width: 770px) {

  .wrapper {
    height: 3700px;
  }

}

@media screen and (max-width: 625px) {


  .section-head {
    margin:auto;
    position: absolute;

    transform: translateY(-50%);
    margin-top: 15%;
    top: 50%;


    width: 80%;
    height: 90%;
    /* border: 1px solid aqua; */
  }

}

@media screen and (max-width: 570px) {
  .wrapper {
    height: 5000px;
  }
  

}

@media only screen and (max-width: 400px) {
  .wrapper {
    height: 5000px;
  }

}

@media only screen and (max-width: 300px) {
  .wrapper {
    height: 4500px;
  }

}
/* CSS for collapsed navbar*/

@charset "UTF-8";
.navigation {
  height: 70px;

}

.brand {
  position: absolute;
  padding-left: 5%;
  float: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.4em;
}
.brand a,
.brand a:visited {
  color: #E7E7E7;
  text-decoration: none;
}

.nav-container {
  position: relative;  
  margin-right: 10%;
  float: right;
  margin: 0 auto;
}

nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 40px;
  line-height: 70px;
  color: #E7E7E7;
  text-decoration: none;
}
nav ul li a:hover,
nav ul li a:visited:hover {
  /* background: #2581dc; */
  color: #FC6230;
  transition: 0.3s;
}
nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: " ▾";
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown {
  position: relative;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 70px;
  width: 70px;
}

@media only screen and (max-width: 1060px) {
  .nav-mobile {
    display: block;
    
  }

  nav {
    width: 100%;
    padding: 70px 0 15px;
    
  
  }
  nav ul {
    display: none;
    background-color: #9F9F9F;
  
  }
  nav ul li {
    float: none;
    background-color: #9F9F9F;
    
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
    
    
  }
  nav ul li ul li a {
    padding-left: 30px;
    
  }

  .nav-dropdown {
    position: static;
    
  }
}
@media screen and (min-width: 1060px) {
  .nav-list {
    display: block !important;
    
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
  
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

article {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}
